# Update all the sections by editing the data.yml file inside _data folder.

# Site Settings
title: "Roberto Barreda | Homepage & CV"
url: "https://robertobarreda.es"

theme_skin: blue

plugins:
  - jekyll-sitemap

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Build settings
compress-site: yes

encoding: "utf-8"
compress_html: # - http://jch.penibelst.de/
  clippings: all
  ignore:
    envs: development
