/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com 
                        (matt brown)
---------------------------------------------------------------------------------
*/

/*.icon { background-position:left; background-repeat:no-repeat; padding:3px 0 3px 19px }
.icon-pdf { background-image: url(/img/pdf.png) }*/
.icon-pdf { background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHhSURBVDjLjZPLSxtRFIfVZRdWi0oFBf+BrhRx5dKVYKG4tLhRqlgXPmIVJQiC60JCCZYqFHQh7rrQlUK7aVUUfCBRG5RkJpNkkswrM5NEf73n6gxpHujAB/fOvefjnHM5VQCqCPa1MNoZnU/Qxqhx4woE7ZZlpXO53F0+n0c52Dl8Pt/nQkmhoJOCdUWBsvQJ2u4ODMOAwvapVAqSJHGJKIrw+/2uxAmuJgFdMDUVincSxvEBTNOEpmlIp9OIxWJckMlkoOs6AoHAg6RYYNs2kp4RqOvfuIACVFVFPB4vKYn3pFjAykDSOwVta52vqW6nlEQiwTMRBKGygIh9GEDCMwZH6EgoE+qHLMuVBdbfKwjv3yE6Ogjz/PQ/CZVDPSFRRYE4/RHy1y8wry8RGWGSqyC/nM1meX9IQpQV2JKIUH8vrEgYmeAFwuPDCHa9QehtD26HBhCZnYC8ucGzKSsIL8wgsjiH1PYPxL+vQvm5B/3sBMLyIm7GhhCe90BaWykV/Gp+VR9oqPVe9vfBTsruM1HtBKVPmFIUNusBrV3B4ev6bsbyXlPdkbr/u+StHUkxruBPY+0KY8f38oWX/byvNAdluHNLeOxDB+uyQQfPCWZ3NT69BYJWkjxjnB1o9Fv/ASQ5s+ABz8i2AAAAAElFTkSuQmCC) }


.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: 'Droid Sans'; 	color: #444; }
a {text-decoration: none ; color: #333; font-weight: bold;}
#inner { padding: 10px 80px; margin: 80px auto; background: #f5f5f5; border: solid #666; border-width: 8px 0 2px 0; }
.yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }

/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; font-size: 14px; }
#bd, #ft { margin-bottom: 2em; }

/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 45px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 142% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; text-align: right; }
.first h2 { font-style: italic; color: #333; }
.last { border-bottom: 0 }

/* //-- section styles -- */
img.linkedin { border:0; padding:0px 3px; width:16px; height:16px; vertical-align:text-top; font: 80%; }
img.linkedin_long { border:0; padding:0px 3px; vertical-align:text-top; font: 80%; /*width:16px; height:16px;*/ }

a#pdf { display: block; float: right; background: #666; color: white; padding: 6px 24px 6px 24px; margin-bottom: 6px; text-decoration: none;  text-align: center;}
a#pdf:hover { background: #009; }
#fixedtop { position: fixed; top: 0px; right: 0px; border: none; z-index: 50; }

#fixedright { width: 110px; margin: auto; background-color: #fff; margin-right: 50px; margin-top:8px; }

ul#flags {
}
ul#flags li { display: inline; list-style: none; border: 0px; }
ul#flags a {
	 text-decoration: none;
}
ul#flags img {
	 vertical-align: middle; 
	 border: 0px;
	 margin: 2px;
	 padding: 2px;
}
ul#flags li a:hover {
	 text-decoration: none;
}
@media print {
	 #pdfc {
	 	 display: none;
	 }
	 #fixedtop { 
	 	 display: none;
	 }
}

.job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
.job h2 { font-weight: bold; }
.job h4 { position: absolute; top: 0.35em; right: 0; }
.job p { margin: 0.75em 0 0.2em 0; text-align: justify; }
p.tags { margin-top: 0.2em; margin-bottom: 1.6em; font-size: 80%; font-weight: bold; font-style: italic; color: #069; }

.yui-u h4 { float:right; }
.other h4 { font-size: 80%; }

.last { border: none; }
.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent { width: 32%; float: left; padding: 3px }
.talent h2 { margin-bottom: 6px; font-weight: bold;}

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:80.2%;}
.yui-gf div.first{width:12.3%;}

p.actual { margin: 0.75em 0 1em 0; }

h2.desc {
	font-size: 90%; margin-top: 0.6em; font-style: italic;
}

.other h3
{
	font-size: 100%;
}


#navigation
{
	float: right;
	width: 720px;
	/* position: fixed; top: 0px; right: 0px; border: none; z-index: 50; */
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	margin: 0;
	padding: 0;
	background: #666;
	display: inline;
	list-style-type: none;
}

#navigation ul li a
{
	display: block;
	float: right;
	color: #fff; 
	background: #666;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0 0 3px;
	padding: 6px 15px 6px 15px; 
}

#navigation ul li a:focus
{
	color: #fff;
	background: #009;
}

#navigation ul li a:hover
{
	color: #fff;
	background: #888 no-repeat 100% 100%;
}

