{% assign summary = site.data.data.summary %}
{% if summary %}
<section class="resume-section summary-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">{{ site.data.labels.career-profile | default: "Career Profile" }}</h2>
    <div class="resume-section-content">
        <div class="mb-3">
            <ul class="mb-0">
                {% for item in summary %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
        {% if site.data.data.key_strengths %}
        <div>
            <div class="d-flex flex-wrap">
                {% for strength in site.data.data.key_strengths %}
                <span class="badge badge-primary mr-2 mb-2">{{ strength }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
<!--//summary-section-->
{% endif %}
