@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
       background-color: white;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .resume-wrapper {
      padding-top: 0;
   }

   .resume-header {
      height: auto;
   }

   .shadow-lg {
      box-shadow: none !important;
   }

   .title,
   .contact-info .phone,
   .contact-info .location,
   .resume-header .picture,
   .interests-section {
      display: none;
   }

   .resume-social {
      display: flex !important;
      flex-wrap: wrap;
      gap: 1rem;
   }

   .resume-social li {
      margin-bottom: 0 !important;
      display: inline-block;
   }
}